@charset "ISO-8859-1";
body{
	font-family: sans-serif;
}



ul {
	
  list-style-type: none;
  left:-10;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:lightslategray;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: green;}

.dropdown:hover .dropdown-content {
  display: block;
}



.dropdown:hover .dropdown-content {
  display: block;
}



.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.klm img.pic {
  width: 40%;
  border-radius: 50%;
}
img.el{
  text-align: left bottom right top;
  margin :30px 0 12px 0;
  
}
img.survey{
	background-color:green;
  width:30%;
 border-radius: 50%;
 height: 400px;
 position: absolute;
 padding :50px 50px;
 top:60px;
 left:30px;
}